/* Dashboard styling */
.dashboard {
    margin-left: 275px;
    padding: 20px;
}

.dashboard-boxes {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.dashboard-box {
background: #fff;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 30px;
margin: 0 20px;
width: 200px; /* Added fixed width */
text-align: center;
transition: transform 0.3s ease;
}

.dashboard-box:hover {
    transform: translateY(-5px);
}



.dashboard-box i {
    font-size: 48px;
    color: #002447;
    margin-bottom: 10px;
}

.dashboard-box p {
    color: #666;
    margin-bottom: 20px;
}

.dashboard-box h2{
    color: #333;
}

.chart-container {
background: #fff;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 20px;
margin: 20px auto; /* Center-align horizontally by setting left and right margin to auto */
width: calc(100% - 40px);
max-width: 800px;
}
footer {
    background: #002447;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}



.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Right-align the user profile section */
    margin-bottom: 20px;
}

.user-profile img {
    width: 50px; /* Adjust the image size as needed */
    height: 50px; /* Adjust the image size as needed */
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #003366; /* Add a border around the profile picture */
}

.user-profile-info {
    color: #003366;
    font-weight: bold; /* Make text bold for a professional look */
}

.user-profile-info p {
    margin: 0;
}