/*''''''''''''''''''''''''''''''''''''''''''''' joanne's css classes'''''''''''''''''''''''''' */



/* CSS for the dashboard section */
.dashboard {
    margin-left: 275px; /* Adjusted for sidebar width */
    padding: 20px;
}


.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Right-align the user profile section */
    margin-bottom: 20px;
}

.user-profile img {
    width: 50px; /* Adjust the image size */
    height: 50px; /* Adjust the image size a */
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile-info {
    color: black;
}

.user-profile-info p {
    margin: 0;
}

/* CSS for the search bar */
.search-bar {
    margin-top: 20px;
    display: flex;
}

.search-bar input[type="text"] {
    flex: 1; /* Take up available space */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E6E7E8; /* Add border to the input field */
}

.search-bar button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-top-right-radius: 0; /* No rounded corners on the button */
    border-bottom-right-radius: 0;
}

.search-bar button:hover {
    background-color: #002447;
}

.rooms {
    color: black;
    font-size: 18px;
    margin-top: 20px; /* Add some spacing between subheading and table */
}



.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #E6E7E8;
    padding: 8px;
}

/* CSS for the search bar */
.search-bar {
    margin-top: 20px;
    display: flex;
}



.rooms {
    color: black;
    font-size: 18px;
    margin-top: 20px; /* Add some spacing between subheading and table */
}



/* CSS for the table */
.table-container {
    margin-top: 20px;
}

.table-container table {
    border-collapse: collapse;
    width: 100%;
}

.table-container th, .table-container td {
    border: 1px solid #E6E7E8;
    padding: 8px;
}

.table-container th {
    background-color: #003366;
    color: white;
}

.table-container tr:not(:first-child):hover {
    background-color: #f0f0f0;
}

/* CSS for the status buttons */
.status-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.not-completed {
    background-color: #FF5733;
    color: white;
}

.completed {
    background-color: #4CAF50;
    color: white;
}
