/* Main Colors */

:root{
    --main-blue:#002447;
    --secondary-blue:#003366;
    --main-yellow:#ecda0a;
}

.main-blue{
    background: #002447;
}
.secondary-blue{
    background: #003366;
}
.main-yellow{
    background: #ecda0a;
}


.dashboard-blocks{
    background: #8099B3;
}

.light-green{
    background: rgb(173, 248, 173);
}
.light-blue{
    background: rgb(173, 248, 248);
}
.dark-green{
    background: rgb(80, 174, 80);
}

.dark-blue{
    background: rgb(54, 165, 165);
}

.light-perple{
    background: rgb(226, 173, 248);
}

.dark-perple{
    background: rgb(165, 54, 165);
}