.request-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.request-item:hover{
    background-color:#EFF5FB;
}
/* 
.request-details {
    flex-grow: 1;
} */

.request-actions button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
   
  
}

.request-actions button:hover {
    background-color: #45a049;
}

.request-details {
    
    border-collapse: separate; /* Use separate border-collapse */
    border-spacing: 0 20px; /* Add vertical spacing between rows */
    width: 100%;
    
}
.request-details th{
    padding:25px;
    background-size: 100%;
    background-color:  #CEE3F6;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: 'Sometype Mono', sans-serif;
    font-weight: 600;
    text-align: center;
    border:none
}
.request-details td{
    padding: 25px;
    border: none;
}

.request-details tr{
    align-items: self-start;
    padding: 10px; /* Add padding for spacing */
    background-color: #ffff; /* Add background color for row container */
    border-radius: 2px; /* Add border-radius for rounded corners */
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);/* Add box shadow for depth */
    color: black;
}

.complaints {
    padding: 8px;
}







.request-details .table {
    width: 100%;
}

.request-details .table-header,
.request-details .table-row {
    display: flex;
}

.request-details .table-cell {
    flex: 1;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.request-details .table-header {
    font-weight: bold;
}

.request-details .table-cell:nth-child(odd) {
    background-color: #f9f9f9;
}

.request-details .table-cell:nth-child(even) {
    background-color: #ffffff;
}
