.view-container {
    margin-top: 20px;
    display: 100%;
    flex-wrap: wrap;
    gap: 40px;
}

.view-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;;
    flex-direction: row;
    margin-top: 20px;
    
}




.view-image {
    width: 290px;
    height: 220px;
    padding-right: 20px;
   
}

.view-image img {
    max-width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}

.view-details {
    flex: 1; /* Take remaining space */
   text-indent: 20px;
   background-color: rgb(253, 245, 95);
}
 
.view-details h3 {
    margin-top: 10px;
    margin-left: 10px;

}

.view-actions {
    margin-bottom: 10px;
}

.view-actions a {
    margin-right: 10px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
}

.view-actions a:hover {
    background-color: #f4f4f4;
}
