.manager-page{
    width:95%;
    margin: 0 auto;
}


.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Right-align the user profile section */
    margin-bottom: 20px;
}

.user-profile-info {
    color: black;
}

.user-profile-info p {
    margin: 0;
}

/* CSS for the search bar */
.search-bar {
    margin-top: 20px;
    display: flex;
}

.search-bar input[type="text"] {
    flex: 1; /* Take up available space */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E6E7E8; /* Add border to the input field */
}

.search-bar button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-top-right-radius: 0; /* No rounded corners on the button */
    border-bottom-right-radius: 0;
}

.search-bar button:hover {
    background-color: #002447;
}
            
        
/* Apply styling to table */
.table-container {
    width: 90%; 
    margin: 0 auto; /* Center the table horizontally */
}
.table {
    width: 100%;
    margin-top: 20px; /* Adjust margin as needed */
    border-collapse: collapse;
    border: 2px solid #003366; /* Add a border to the table */
    background-color: #ffffff; /* Set background color for the table */
}

/* Apply styling to table data cells */
.table td,th {
    border: 1px solid #003366; /* Add a border to table cells */
    padding: 12px;
    text-align: center;
    
}

/* Apply styling to table header cells */
.table th {
    background-color: #002447; /* Set background color for header cells */
    color: #ffffff; /* Set text color for header cells */

}





            /* CSS for the delete and update buttons */

    

.addnewbutton {
    margin-top: 10px; /* Adjust the top margin as needed */
    padding: 10px; /* Add padding to the container */
    background-color: #002447; /* Set the background color */
    display: inline-block; /* Ensure the container only takes as much width as necessary */
    border-radius: 5px
}

    .addnewbutton a {
        color: white; /* Set the text color of the link */
        text-decoration: none; /* Remove the default underline on the link */
        font-weight: bold; /* Make the text bold */
    }

    .addnewbutton:hover {
        background-color: #003366;
    }


    .status-button {
        margin-top: 2px;
        margin-left: 10px;
        padding: 2px 0; 
        background-color: #002447;
        border-radius: 50px;
        display: inline-block; 
    }
    
    .status-button a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        display: block; /* Set the link to be a block element for center alignment */
    }
    
    .status-button:hover {
        background-color: #003366;
    }
    

.editbutton {
    cursor: pointer;
}

.editbutton i {
 color:green;
 font-size:20px;
 transition: transform 0.5s;  
 background-color: transparent;
}

.editbutton:hover i {
    color: darkgreen;
    
}

.deletebutton {
    cursor: pointer;
    margin-left: 10px; 
    margin-top: 5px;
    
}

/* Style the delete icon */
.deletebutton i {
    color: #ff0000; 
    font-size: 20px; 
    transition: transform 0.5s;
    background-color: transparent;
    border: none;
    
}


.deletebutton:hover i {
    color: #cc0000; 
    
}

/* Add New Form Styles */
.add-new-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-new-form h2 {
    color: #003366;
}

.add-new-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #003366;

}

.add-new-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #E6E7E8;
    border-radius: 5px;
    
}
.add-new-form input:focus {
    border-color: #003366; 
    box-shadow: 0 0 5px rgba(0, 102, 255, 0.5); 
    outline: none; 
}

.add-new-form button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.add-new-form button:hover {
    background-color: #002447;
}

.error {
    color: red; 
    font-size: 14px; 
    font-weight: bold; 
}

.room-type-card img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; /* Center the image horizontally */
    margin-bottom: 10px; /* Add some spacing between the image and other elements */
}