

/* CSS for the dashboard section */
.dashboard {
    margin-left: 275px;
    /* Adjust for sidebar width */
    padding: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Right-align the user profile section */
    margin-bottom: 20px;
}

.user-profile img {
    width: 50px;
    /* Adjust the image size as needed */
    height: 50px;
    /* Adjust the image size as needed */
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #003366;
    /* Add a border around the profile picture */
}

.user-profile-info {
    color: #003366;
    font-weight: bold;
    /* Make text bold for a professional look */
}

.user-profile-info p {
    margin: 0;
}

/* CSS for the search bar */
.search-bar {
    margin-top: 20px;
    display: flex;
}

.search-bar input[type="text"] {
    flex: 1;
    /* Take up available space */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E6E7E8;
    /* Add border to the input field */
}

.search-bar button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-top-right-radius: 0;
    /* Remove rounded corners on the button */
    border-bottom-right-radius: 0;
}

.search-bar button:hover {
    background-color: #002447;
}

/* CSS for the cleaning status page */
h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
    margin-top: 20px;
}

.room {
    width: 50px;
    height: 50px;
    background-color: #f44336; /* Default status: dirty */
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.clean {
    background-color: #4caf50; /* Clean status color */
}

.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.filter-buttons button {
    background-color: #003366;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-buttons button:hover {
    background-color: #002447;
}