/* Dashboard styling */
.dashboard {
    margin-left: 275px;
    padding: 20px;
}

.flavours-header {
    font-size: 30px;
    font-weight: bold;
    color: #003366;
    margin-bottom: 10px;
}

.dashboard-boxes {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.dashboard-box {
background: #fff;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 30px;
margin: 0 20px;
width: 200px; /* Added fixed width */
text-align: center;
transition: transform 0.3s ease;
}

.dashboard-box:hover {
    transform: translateY(-5px);
}



.dashboard-box i {
    font-size: 48px;
    color: #002447;
    margin-bottom: 10px;
}

.dashboard-box p {
    color: #666;
    margin-bottom: 20px;
}

.dashboard-box h2{
    color: #333;
}

/* CSS for ongoing order section */
.ongoing-order {
    margin-top: 50px;
    background: #f3f4f6;
    padding: 20px;
    border-radius: 10px;
}

.order-details {
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Set maximum width */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-details h3 {
    color: #003366;
    margin-bottom: 20px;
}

.order-details p {
    color: #666;
    margin-bottom: 10px;
}

.view-order-btn {
    background-color: #002447;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-order-btn:hover {
    background-color: #003366;
}

