

/* CSS for the dashboard section */
.dashboard {
    margin-left: 275px; /* Adjust for sidebar width */
    padding: 20px;
}

.flavours-header {
    font-size: 30px;
    font-weight: bold;
    color: #003366;
    margin-bottom: 10px;
}


/* CSS for the search bar */
.search-bar {
    margin-top: 20px;
    display: flex;
}

.search-bar input[type="text"] {
    flex: 1; /* Take up available space */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E6E7E8; /* Add border to the input field */
}

.search-bar button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-top-right-radius: 0; /* Remove rounded corners on the button */
    border-bottom-right-radius: 0;
}

.search-bar button:hover {
    background-color: #002447;
}

h1 {
    color: #333333;
    text-align: center;
}

.filter-buttons {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.filter-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.show-all-orders {
    background-color: #003366;
    color: #ffffff;
}

.show-ongoing-orders {
    background-color: #00cc44;
    color: #ffffff;
}


.orders-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Gap between order boxes */
    margin-top: 20px;
}

.order-box {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}

.order-box.selected {
    border: 2px solid #00ff00;
}

.room-number {
    background-color: #2243a8;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;
}

.order-info {
    margin-bottom: 15px;
}

.order-info p {
    margin: 5px 0;
    text-align: center;
}

.order-info p:first-child {
    margin-top: 0;
}

.order-info p:last-child {
    margin-bottom: 0;
}

.order-items {
    margin-top: 10px;
    text-align: center;
}

.order-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.order-items li {
    margin-bottom: 5px;
}

.order-total {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.order-actions {
    margin-top: 15px;
    text-align: center;
}

.order-actions label {
    margin-right: 10px;
}

.clear {
    clear: both;
}

.delivered-checkbox {
    text-align: center;
    margin-top: 10px;
    display: none; /* Initially hide the checkbox */
}