/* CSS for the navigation bar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #002447;
    overflow-x: hidden;
    padding-top: 20px;
}

/* CSS for the logo section */
.logo-section {
    background-color: #003366;
    padding: 10px;
    text-align: center;
}

/* CSS for the logout button */
.logout-button {
    position: absolute;
    bottom: 50px;
    left: 20px;
    background-color: #FFD700;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 50px; /* Rounded corners */
}

.logout-button:hover {
    background-color: #fde660;
}

/* CSS for the navigation links */
.nav-link {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #003366;
}

/* CSS for the dashboard section */
.dashboard {
    margin-left: 250px; /* Adjust for sidebar width */
    padding: 20px;
}

.reservations {
    color: black;
    font-size: 18px;
    margin-top: 20px; /* Add some spacing between subheading and table */
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Right-align the user profile section */
    margin-bottom: 20px;
}

.user-profile img {
    width: 50px; /* Adjust the image size as needed */
    height: 50px; /* Adjust the image size as needed */
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile-info {
    color: black;
}

.user-profile-info p {
    margin: 0;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #E6E7E8;
    padding: 8px;
}


/* CSS for the search bar */
.search-bar {
    margin-top: 20px;
    display: flex;
}

.search-bar input[type="text"] {
    flex: 1; /* Take up available space */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E6E7E8; /* Add border to the input field */
}

.search-bar button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-top-right-radius: 0; /* Remove rounded corners on the button */
    border-bottom-right-radius: 0;
}

.search-bar button:hover {
    background-color: #002447;
}

/* CSS for the delete and update buttons */
.delete-button {
    background-color: #FF0000; /* Red */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #CC0000; /* Darker red on hover */
}

.update-button {
    background-color: #FFFF00; /* Yellow */
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.update-button:hover {
    background-color: #CCCC00; /* Darker yellow on hover */
}

/* CSS for the editable input fields */
.editable-input {
    border: 1px solid #E6E7E8;
    padding: 5px;
}

/* CSS for the "New Reservations" button */
.new-reservations-button {
    background-color: #228422; /* Green */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.new-reservations-button:hover {
    background-color: #347034; /* Darker green on hover */
}