.bill-components{
    background:#faf8f8;
    padding: 2rem;
    border-radius: 10px;

}
.bill-components-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.bill-components .main-title{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family:"Sriracha",sans-serif;
    color: #000000;
}
.bill-blocks{
    border-radius: 10px;
    padding: 1.2rem;

    width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    
}
.bill-blocks:hover{
    transform: translateY(-10px);

}


.bill-blocks .title{
    font-size: 15px;
    font-family:"Sriracha",sans-serif;
    font-weight: 600;
    color: #000000;
    text-align:center ;
}


.block-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;


}

.block-header .amount{
    display: flex;
    flex-direction: column;
}

.block-header .title{
    font-size: 22px;
    font-weight: 200;

}
.block-header .amount-value{
    font-size: 35px;
    font-weight: 500;
    text-align: center;

}


.bill-blocks i{
    border-radius: 16PX;
    padding: 10px;
    margin-top: 10px;
}

/* .light-green{
    background: rgb(173, 248, 173);
}
.light-blue{
    background: rgb(173, 248, 248);
}
.dark-green{
    background: rgb(80, 174, 80);
}

.dark-blue{
    background: rgb(54, 165, 165);
}

.light-perple{
    background: rgb(226, 173, 248);
}

.dark-perple{
    background: rgb(165, 54, 165);
} */
/*'''''''''''''''''''bill table  ''''''''''''''''''''''*/
.bill-table-warpper{
    background: #eff0f5;
    margin-top: 80px;
    border-radius: 10px;
    padding: 20px;
}

.bill-table-container{
    width: 100%;
}

.bill-table-warpper table{
    width: 100%;
    border-collapse: collapse;
}

.bill-table-warpper thead{
    background: #003366;;

}
.bill-table-container th{
    padding: 15px  ;
    text-align: left;
    color: #ffffff;
}

tbody{
    background: #c7c7ec;
}

td{
    padding: 15px;
    font-size: 15px;
    color: #000000;
}

tr:nth-child(even){
    background: #ffffff;
}

tfoot{
    background: #c08d8d;
    font-weight: bold;
}

tfoot td{
    padding: 20px;
}

.bill-table-container button{
    cursor: pointer;
    border: none;
}

 .main-title{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family:"Sriracha",sans-serif;
    color: #000000;
}


