.foodorder-container{
  /* border: 2px solid black; */
  padding: 20px;
}
.foodorder-container .main-title{
  font-size: 40px;
  font-family: "Exo 2";
  text-align: center;
}
.foodorder-wrapper{
  margin-top: 5px;
  /* border: 2px solid black; */
  padding:20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 7.5%;
  row-gap: 30px;
  z-index: -1;
  height: auto;

}

.foodorder-items{
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  /* width: 23%; */
  width: 240px;
  height:auto;
  padding: 1%;

  
}


.foodorder-items img{
  width: 240px;
  height: 190px;
  object-fit:cover;
  border-radius: 3px;
  
}
/* .foodorder-items img:hover{
  transform: scale(1.1); 
  transition: transform .8s;
  
} */


.foodorder-items .food-title{
  word-wrap:break-word;
  font-size: 19px;
  text-align:center;
  width: 100%;
  height: auto;
  font-family: "catamaran";
  line-height: 1.2;

  
}

.food-title .food-price{
  color:#28B463;
  font-weight: 600;
}

.foodorder-items .addto-cart{
  margin-top: 5px;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  
}

.addto-cart  input{
  width: 20px;
  margin-bottom: 10px;
  height: 10px;
  text-align: center;
}

.addto-cart .decrease{
  width: 20px;
  margin-right: 5px;
  text-align: center;
}
.addto-cart .increase{
  width: 20px;
  margin-left: 5px;
  text-align: center;
}

.foodorder-items .addtocart-btn {
  width: 80%;
  height: 22px;
  background: #2E86C1;
  border: none;
  border-radius: 18px;
  font-weight: 600;
  
}

.foodorder-items .addtocart-btn:hover{
  transform: scale(1.1); 
  transition: transform .5s;
  cursor: pointer;
  font-family: "Exo 2";
  font-size: 15px;
  font-weight: 600;
}


.cart-inUI{
  position:sticky;
  width: 50px;
  height:auto;
  /* border: 2px solid black; */
  z-index: 1;
  top: 105px;
  float:inline-end;
  cursor: pointer;
}

.cart-inUI .img{
  margin-top: 15px;
}

.cart-inUI .cart-total{
  position: absolute;
  top: 2px;
  width: 25px;
  height: 20px;
  border-radius: 50%;
  margin-left: 25%;
  background-color: red;
  color: rgb(255, 255, 255);
  text-align: center  ;
  font-weight: 600;
  
}



.cart-popup .overplay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0,0.5);
  z-index: 1;
  display: none;
  overflow: hidden;
}

.cart-popup .content{
  position: fixed;
  border: 1px solid black;
  border-radius: 5px;
  top:50%;
  left: 60vw;
  transform: translate(-50% ,-50%)scale(0);
  background: #fff;
  width: 650px;
  height: 390px;
  z-index: 2;
  pad: 20px;
  overflow: auto;
  
}

@media screen and (max-width:1020px) {
  .cart-popup .content{
    left: 620px;
    background: #ff0202;
  }
}

.cart-popup .header{ 
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background:#d3deea;
  overflow: hidden;
}

.cart-popup .header .close-btn{
  height: 20px;
  float: right;
  margin: 10px;
  cursor: pointer;
  /* border: 2px solid black; */
}

.cart-popup .header .title{
  position:absolute;
  color: #000;
  font-size: 25px;
  top: 10px;
  margin-left: 19px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 
}

.cart-popup.active .overplay{
  display: block;
}

.cart-popup.active  .content{
  transition:all 300ms ease-in-out ;
  
  transform: translate(-50% ,-50%)scale(1) ;
}

.cart-content{
  z-index: -1;
  padding: 10px;
}

.cart-content table{
  border-collapse: collapse;
  width: 100%;
  
}

.cart-content tbody{
  font-family: 'poppins';
  /* border: 2px solid black; */
}
.cart-content td img{
  width: 80px;
  height: 60px;
  object-fit: cover;
  
}
.cart-content tr:nth-child(even){
  background-color: antiquewhite;
  
}
.cart-content tr:nth-child(1) {
  font-size: 10px;
  height: 20px;
  font-family: 'poppins';
}
.cart-content td:nth-child(1){
  width: 10%;
}
.cart-content td:nth-child(2){
  width: 40%;
  font-size: 18px;
  text-align:start;
}
.cart-content td:nth-child(3){
  width: 5%;
  
}
.cart-content td:nth-child(4){
  width: 20%;
  text-align: center;
}
.cart-content td:nth-child(5){
  width: 25%;
}

.cart-content tr{
  height: 40px;
}

.cart-content td button{
  width: 23px;
  height: 23px;
  text-align: center;
  border-radius: 50px;
  background: transparent;
  color: #000;
  border: none;
  cursor: pointer;
}
.cart-content td i{
  color: red;
}
.cart-content td i:hover{
  transition: transform .7s ease-in-out;
  transform: rotate(360deg);
}

.total-cost{
  margin-top: 50px;
  width: 300px;
  position: absolute;
  right: 0;
  grid-template-columns: auto auto;
  display: grid;
  font-family: 'Catamaran';
  font-weight: 400;
}

.total-cost-title{
  font-size: 20px;
}
.total-cost .place-order{
  display: block;
  margin-top: 10px;
}
.total-cost .place-order button{
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border:none;
}

.total-cost .place-order button:hover{
  background-color: #F28C28;
}

.total-cost-value .value{
  font-size: 20px;
  
}

/* .cart-popup .footer{
  position: sticky;
  border: 2px solid black;
  display: grid;
  grid-template-columns: auto auto;
  width: 99%;
  height: 10%;
  top: 100%;
  background: #fff;
  overflow: hidden;
 
}

.cart-popup .footer>div:nth-child(1){
  background-color: #28B463;
} */

































/* 


.foodorder-form{
  
    margin-top: 40px;
    background:#e8e8ef;
    padding: 2rem;
    border-radius: 10px;
  
  }
  
  .foodorder-form .main-title{
    font-size: 2.5em;
    font-family: "poppins";
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .foodorder-form-wrapper{
    margin-left: 200px;
    margin-top: 40px;
    width: 50%;
    background:#b7b6b9;
    padding: 2rem;
    border-radius: 10px;
    transition:cubic-bezier(1, 0, 0, 1) 0.3s;
  
  }
  
  .foodorder-img{
    object-fit: cover;
    margin-bottom: 10px;
  
  }
  .foodorder-img i{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 40px;
    
  }
  
  .form-title{
    font-size: 1.2em;
    font-family: "poppins";
    font-weight: -1500;
    
  }
  
  .foodorder-field{
    margin-top: 2px;
    margin-bottom: 13px;
    border-radius: 10px;
  }
  
  .foodorder-field input , select , textarea{
    padding: 7px;
    background: #e3eaf8;
    border: none;
    width: 100%;
  }


  
  .foodorder-button{
    margin-top: 10px;
    width: 100%;
  }
  
  .foodorder-button input{
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    background: #003366;
    color: #ecda0a;
    font-size: 1em;
    font-family: "poppins";
    font-weight: 600;
    padding: 10px;
    transition: all 0.3s;
    
  }
  
  .foodorder-button input:hover{
    transform: translateY(-10px);
  
  }


  .foodorder-table-warpper{
    background: #eff0f5;
    margin-top: 80px;
    border-radius: 10px;
    padding: 20px;
}

.foodorder-table-container{
    width: 100%;
}

.foodorder-table-warpper table{
    width: 100%;
    border-collapse: collapse;
}

.foodorder-table-warpper thead{
    background: #003366;;

}
.foodorder-table-container th{
    padding: 15px  ;
    text-align: left;
    color: #ffffff;
}

.foodorder-table-warpper tbody{
    background: #c7c7ec;
}

.foodorder-table-warpper td{
    padding: 15px;
    font-size: 15px;
    color: #000000;
}

.foodorder-table-warpper tr:nth-child(even){
    background: #ffffff;
}

.foodorder-table-warpper tfoot{
    background: #c08d8d;
    font-weight: bold;
}

.foodorder-table-warpper tfoot td{
    padding: 20px;
}

.foodorder-table-container button{
    cursor: pointer;
    border: none;
}

.foodorder-table-warpper .main-title{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family:"Sriracha",sans-serif;
    color: #000000;
}



.food-menu {
  margin-top: 30px;
  padding: 20px;
  background-color: #e8e8ef;
}

.food-item {
  margin-bottom: 20px;
  text-align: center;
}

.food-item img {
  width: 100px;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.quantity-control input {
  width: 30px;
  text-align: center;
}

.delivery-options {
  margin-top: 20px;
}


.delivery-options select, input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #E6E7E8;
}

.order-button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.order-button:hover {
  background-color: #002447;
}
  
 */
