.serviceReq-container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 80px 100px 80px 100px;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}

.serviceReq-container-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 30px 20px;
    /* border: 1px solid #000000; */
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 10px 5px 10px 7px rgba(0, 0, 0, 0.15);
    
}

.serviceReq-container .title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

.serviceReq-container-wrapper .input-box{
    margin-top: 20px;
    font-family: 'Josefin Sans';
    font-size: 20px;
}

.serviceReq-container-wrapper .input-box select{
    width:max-content;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-family: 'poppins', sans-serif;

}

.serviceReq-container-wrapper .input-box textarea{
    width: 100%;
    height:30%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'poppins', sans-serif;
}

.serviceReq-container-wrapper .send-req{
    margin-top: 30px;
    text-align: center;
}
.send-req button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.serviceReq-container-wrapper .material-symbols-outlined{
    font-size:20px;
    margin-right: 5px;
    color: #000000;
    margin-bottom: 0;
}   