.serviceReq-container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px 100px 80px 100px;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}

.serviceReq-container-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 30px 20px;
    /* border: 1px solid #000000; */
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 10px 5px 10px 7px rgba(0, 0, 0, 0.15);
    
}

.serviceReq-container .title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

.serviceReq-container-wrapper .input-box{
    margin-top: 20px;
    font-family: 'Josefin Sans';
    font-size: 20px;
}
.serviceReq-container-wrapper .input-box-block{
    display:inline-block;
    margin-right: 10%;
    margin-top: 20px;
    font-family: 'Josefin Sans';
    font-size: 20px;
}
.serviceReq-container-wrapper .input-box .selectedcategory{
    width: 100%;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-family: 'poppins', sans-serif;

}


.serviceReq-container-wrapper .input-box select , .input-box-block select{
    width:max-content;
    display: block;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-family: 'poppins', sans-serif;

}

.serviceReq-container-wrapper .input-box textarea{
    width: 100%;
    height:30%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'poppins', sans-serif;
}

.serviceReq-container-wrapper .send-req{
    margin-top: 30px;
    text-align: center;
}
.send-req button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.serviceReq-container-wrapper .material-symbols-outlined{
    font-size:20px;
    margin-right: 5px;
    color: #000000;
    margin-bottom: 0;
}   




.servicereq-data-retrive {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
  }
  
.servicereq-data-retrive h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Exo 2';
    small {
      font-size: 0.5em;
    }
  }
  
.servicereq-data-retrive .responsive-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      font-family: 'Josefin Sans', sans-serif;
    }
    
    .table-header {
      background-color: #95A5A6;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      font-family: 'Sometype Mono', sans-serif;
      font-weight:600;
      text-align: center;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      text-align: center;
      
    }

    
    .table-row:nth-child(odd){
        background-color: #f2f2f2;
    }
    .col-1 {
      flex-basis: 20%;
    }
    .col-2 {
      flex-basis: 20%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }
    .col-5 {
      flex-basis: 10%;
      gap: 25px;
      display: flex;
      text-align: center;
  
    }
    
    .col-5 button:hover{
        transition: transform .7s ease-in-out;
        transform: rotate(360deg);
    }
    .col-5 button{
        
        font-size: 18px;
        background-color:transparent;
        border: none;
        cursor: pointer;
        color: red;
    }
    .col-5 .edit{
        color: green;
    }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
