

 @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Poppins:wght@100;500&family=Sometype+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.side-bar{
    position:fixed;
    background-color: #002447;
    /* background-color: #003366; */
    height: 100vh;
    top: 0;
    left: 0;
    width: 275px;
    font-family: "poppins", sans-serif;
    font-weight: 100;
    z-index: 100;
    /* padding: 2.7rem 3rem 0 2rem; */
   

    
}

.side-bar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 5% ;
    text-align:left;
    transition: .3s;
    font-size: 20px;
}


.links{
    margin-top: 6%;
    margin-left: 10%;
}



.links i{
    margin-right: 6%;
    direction: none;
}

.logo{
    padding: 2% 4%;
    background-color: #003366;

}

.active, .link-items a:hover  {
    background: #003366;  
}



 .logout{
    position: absolute;
    width: 15%;
    margin-top: 5%;
    margin-left: 5%;
    bottom: 2%;
    
}

.logout button{
    margin-left: 50px;
    padding: 5px 30px;
    background-color: #ecda0a;
    border-radius: 20px;
}

.logout button:hover{
    background-color: #003366;
    color: #ecda0a;
    border: 1px solid #ecda0a;
    transition: .3s;

}
.home {
    position: relative;
    left: 275px;
    width: calc(100% - 275px);
    top: 0;
    /* background: #0074e8; */
    background: #ffffff;
    
    /* padding-left: 25px; */
    /* padding-bottom: 5rem; */
  }
.profile{
    top: 0;
    width: 100%;
    border: 2px solid black;
    height: 70px;
    margin-top: 5px;
    position: relative;
    margin-bottom: 20px; 
}

.profile a {
    margin-top: 10px;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    left: 85%;
    
}
.profile i {
    margin-top: 10px;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
}