.side-bar{
    position: fixed;
    background-color: #002447;
    /* background-color: #003366; */
    height: 100vh;
    top: 0;
    left: 0;
    width: 325px;
    /* padding: 2.7rem 3rem 0 2rem; */
   

    
}

.side-bar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 5% ;
    text-align:left;
    transition: .3s;
    font-size: 20px;
}

.links{
    margin-top: 10%;
    margin-left: 10%;
}

.links i{
    margin-right: 10%;
    direction: none;
}

.logo{
    padding: 4% 4%;
    background-color: #003366;

}

.side-bar a:hover{
    color: #ecda0a;
    text-decoration: none;
}

 .logout{
    position: absolute;
    width: 15%;
    margin-top: 5%;
    margin-left: 5%;
    
}

.logout button{
    margin-left: 50px;
    padding: 5px 30px;
    background-color: #ecda0a;
    border-radius: 20px;
}

.logout button:hover{
    background-color: #003366;
    color: #ecda0a;
    border: 1px solid #ecda0a;
    transition: .3s;

}