.title-generate_reports h1 {
    text-align: center;
}

.report-types {
    margin-top: 20px;
}

.report-type {
    background-color: #003366;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.report-type:hover {
    background-color: #002447;
}