/* CSS for the search bar */
.search-bar {
    margin-top: 20px;
    display: flex;
}

.search-bar input[type="text"] {
    flex: 1; /* Take up available space */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E6E7E8; /* Add border to the input field */
}

.search-bar button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-top-right-radius: 0; /* No rounded corners on the button */
    border-bottom-right-radius: 0;
}

.search-bar button:hover {
    background-color: #002447;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #E6E7E8;
    padding: 8px;
    text-align: center;
}

/*.view-btn{
    background-color: #fa2f2f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
}

.view-btn:hover{
    background-color: #870707;
}*/

/* CSS for the Logs section */
.logs {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #E6E7E8;
    border-radius: 10px;
}

.logs h2 {
    color: #003366;
    font-size: 24px;
}

