.title-staffaccounts h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.staff-create-btn {
    margin-top: 20px;
    margin-bottom: 30px;
}

.staff-create-btn a {
    background-color:  #003366;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.staff-create-btn a:hover {
    background-color: #002447;
}

/*.admin-search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}*/

/* CSS for the search bar form */
.admin-search-bar form {
    display: flex;
    width: 100%;
}

.admin-search-bar input[type="text"] {
    flex: 1;/* Take up available space */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E6E7E8;/* Add border to the input field */
}

.admin-search-bar button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.admin-search-bar button:hover {
    background-color: #002447;
}

.staffaccounts-table {
    border-collapse: collapse;
    width: calc(100%-30px);
    margin-top: 20px;
    margin-left: 5px;
}

.staffaccounts-table th,
.staffaccounts-table td {
    border: 1px solid #003366; /* Add a border to table cells */
    padding: 8px;
    text-align: left;
}

/* .staffaccounts-table td {
    font-size: 12px;
} */

.staffaccounts-table th{
    background-color: #002447; /* Set background color for header cells */
    color: #ffffff; /* Set text color for header cells */
}

.staffaccounts-table tbody tr:hover{
    background-color: #f0f0f0; /* Add hover effect to table rows */
}

.admin-action-btn {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Align items with space between them */
}

/* Styles for the update and delete links */
.admin-action-btn a {
    border: none;
    padding: 5px 10px;
    cursor: pointer; /* Add margin to create space between links */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Ensure inline-block display to allow text-align property */
    text-align: center; /* Align the button content */
    border-radius: 15px;
    flex: 1; /* Equal width for both links */
    /* font-size: 13px; */
    
}

.admin-action-btn .admin-deactivate-btn a {
    background-color: #d80707;
    color: white;
}

.admin-action-btn .admin-deactivate-btn a:hover {
    background-color: #9b0505;
    color: white;
}

.admin-action-btn .admin-update-btn a {
    background-color:  white;
    color: green;
    
}

.admin-action-btn .admin-update-btn a:hover {
    background-color: white;
    color: darkgreen;
}

/* Styles for the create staff accounts form */
.create-staffaccounts-form {
    max-width: 400px;
    margin: 0 auto;
}

.create-staffaccounts-form form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.create-staffaccounts-form label {
    display: block;
    margin-bottom: 5px;
}

.create-staffaccounts-form input[type="text"],
.create-staffaccounts-form input[type="email"],
.create-staffaccounts-form input[type="date"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.create-staffaccounts-form input[type="submit"] {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-staffaccounts-form input[type="submit"]:hover {
    background-color: #002447;
}

/* Styles for the update staff accounts form */
.update-staffaccounts-form {
    max-width: 400px;
    margin: 20px auto;
}

.update-staffaccounts-form form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.update-staffaccounts-form label {
    display: block;
    margin-bottom: 5px;
}

.update-staffaccounts-form input[type="text"],
.update-staffaccounts-form input[type="email"],
.update-staffaccounts-form input[type="date"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.update-staffaccounts-form input[type="submit"] {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-staffaccounts-form input[type="submit"]:hover {
    background-color: #002447;
}

/* CSS for the label element in create staff form select role */
#designation {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    background-color: #eaeef8;
} 


