.title-accountlogs h1{
    text-align: center;
}

/* CSS for the search bar form */
.admin-search-bar form {
    display: flex;
    width: 100%;
}

.admin-search-bar input[type="text"] {
    flex: 1; /* Take up available space */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E6E7E8; /* Add border to the input field */
}

.admin-search-bar button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.admin-search-bar button:hover {
    background-color: #002447;
}

/* Apply styling to table */
.accountlogs-table-container {
    display: flex;
    width: 100%; 
    margin: 0 auto; /* Center the table horizontally */
    justify-content: center;
    /* margin: auto; */
}

.accountlogs-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.accountlogs-table th,
.accountlogs-table td {
    border: 1px solid #003366; /* Add a border to table cells */
    padding: 12px;
    text-align: left;
}

.accountlogs-table th{
    background-color: #002447; /* Set background color for header cells */
    color: #ffffff; /* Set text color for header cells */
}


.accountlogs-table tbody tr:hover {
    background-color: #f0f0f0; /* Add hover effect to table rows */
}
