

.payment-res-searchbar-wrapper{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: block;
    
}

.payment-res-searchbar-wrapper .res-searchbar{

    /*  */
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;  
    align-items: center;
    margin-bottom: 20px;
    column-gap: 50px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(173, 173, 173);
    
}


.payment-res-searchbar-wrapper .form-title-mngereservation{
    font-size: 30px;
    display:inline-block;
    position: relative;
    left: 40%;
    text-align: center;   
    height: auto;
    top: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-style: italic;

    bottom: 4px;
}

.payment-res-searchbar-wrapper .form-title span{
    text-align: center;
}


.payment-res-searchbar-wrapper .res-searchbar .items{
   margin-left: 20px;
   /* border: 1px solid black; */
   padding: 15px;
   font-size: 20px;
   border-radius: 10px;
   box-shadow: rgba(23, 225, 44, 0.15) 1.95px 1.95px 2.6px;
}

.payment-res-searchbar-wrapper .res-searchbar .items span{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    
}


.payment-res-searchbar-wrapper .res-searchbar .btn button{
    font-size: 18px;
    width: 80px;
    font-family: 'Lato', sans-serif;
    padding: 8px;
    border-radius: 5px;
    border:none ;
    background-color: #2ecc71;
}

.res-searchbar .btn button:hover{
    background-color: #27ae60;
    cursor: pointer;
    font-weight: 600;
}

.res-searchbar input{
    padding: 5px;
    border-radius: 10px;
    border: 1px dotted black;
 
    
}

.res-searchbar .date{
    width: 150px;
    padding: 8px;
}



.calculate-payment-table-wrapper{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.calculate-payment-table-wrapper .title{
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}


.calculate-payment-table-wrapper table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-bottom: #6086a5;
    padding: 20px;
    border: 1px solid #5d89ad;
    
}

.calculate-payment-table-wrapper tr{
    padding: 20px;
   
}

.calculate-payment-table-wrapper th {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    border: 1px dotted #5d89ad;
    background-color: #003366;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.calculate-payment-table-wrapper td {
    padding: 10px;
    font-size: 15px;
    font-family: 'popins', sans-serif;
   
    text-align: center;
    text-transform: capitalize;
}




.calculate-payment-table-wrapper button {
    cursor: pointer;
    padding: 10px;
    border: none;
    background: none;
}

.calculate-payment-table-wrapper button:hover {
    background-color: #1bae0b;
}

.expand-details{
    position: fixed;
    width: 500px;
    min-height: 50px;
    max-height: 400px;
    margin-bottom: 50px;
    border: 1px solid #5d89ad;
    left: 675px;
    transform: translate(-50% ,-50%)scale(0);
    transition:all 300ms ease-in-out ;
    background-color: white;
    overflow: auto;
}

.expand-details table{
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
}

.expand-details tr {
    padding: 20px;
}

.expand-details .header{ 
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background:#d3deea;
    overflow: hidden;
}

.expand-details .header .close-btn{
    height: 20px;
    float: right;
    margin: 10px;
    cursor: pointer;
    /* border: 2px solid black; */
}

.expand-details .header .title{
    position:absolute;
    color: #000;
    font-size: 25px;
    margin-left: 19px;
    font-family:"Exo 2";

   
}