.res-searchbar-wrapper{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: block;
    
}

.res-searchbar{

    /*  */
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;  
    align-items: center;
    margin-bottom: 20px;
    column-gap: 50px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(173, 173, 173);
    
}


.res-searchbar-wrapper .form-title-searchbar{
    font-size: 30px;
    display:inline-block;
    position: relative;
    left: 40%;
    text-align: center;   
    height: auto;
    top: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-style: italic;

    bottom: 4px;
}

.res-searchbar-wrapper .form-title span{
    text-align: center;
}


.res-searchbar .items{
   margin-left: 20px;
   /* border: 1px solid black; */
   padding: 15px;
   font-size: 20px;
   border-radius: 10px;
   box-shadow: rgba(23, 225, 44, 0.15) 1.95px 1.95px 2.6px;
}

.res-searchbar .items span{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    
}


.res-searchbar .btn button{
    font-size: 18px;
    width: 80px;
    font-family: 'Lato', sans-serif;
    padding: 8px;
    border-radius: 5px;
    border:none ;
    background-color: #2ecc71;
}

.res-searchbar .btn button:hover{
    background-color: #27ae60;
    cursor: pointer;
    font-weight: 600;
}

.res-searchbar input{
    padding: 5px;
    border-radius: 10px;
    border: 1px dotted black;
 
    
}

.res-searchbar .date{
    width: 150px;
    padding: 8px;
}

/* search result '''''''''''''''' */

.res-search-result-wrapper{
    
    width: 100%;
    height: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}

.res-search-result-wrapper .room-block{
    position: relative;
    width: 270px;
    height: 295px;
    margin: 20px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(148, 148, 148);
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    flex-basis:auto;
    
}

.res-search-result-wrapper .res-room-img{
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
    background-color: #2ecc71;
}

.res-search-result-wrapper .res-room-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.res-search-result-wrapper .res-room-details{
    width: 100%;
    /* margin-top: 10px; */
    /* border: 1px solid black; */
    text-align: center;
   
}

.res-room-details .room-type{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.res-room-details .room-number{
    overflow: auto;
    white-space: nowrap;
    height: 40px;
    
    /* border: 1px solid black; */
}

.room-number span{
    color: rgb(98, 154, 234);
    font-size: 18px;
    display: inline-block;
    
}



.res-room-details .bottom-part{
    position: relative;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.res-room-details .bottom-part .price{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.res-room-details .bottom-part .reserve button{
    padding: 10px;
    width: 90px;
    border-radius: 20px;
    background-color: #2ecc71;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #fff;
    border: none;
}

.res-room-details .bottom-part .reserve button:hover{
    background-color: #27ae60;
    cursor: pointer;
    font-weight: 600;
}



/* walkin reservation form css'''''''''''''''''''''''''''''''''''''''''''''''''''' */

.reservation-form-wrapper{
    width: calc(100% - 40px);
    height: auto;
    margin-top: 50px;
    /* border: 1px solid black; */
    padding: 20px;
    /* text-align: center; */
}

.reservation-form-wrapper .reservation_form{
    width: 80%;
    margin-left: 8%;
    padding: 5px 20px 40px 20px;
    height: auto;
    /* border: 1px solid black; */
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px 0px rgb(148, 148, 148);
    column-gap: 150px;
}

.reservation-form-wrapper .reservation_form .form-title{
    display: inline;
    width: 100%;
    height: auto;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

.reservation-form-wrapper .reservation_form span{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    margin-left: 5px;
    margin-bottom: 4px;
}

.reservation_form .cus-name , .cus-email, .cus-address{
    margin-left: 20px;
    width: 100%;
    height: auto;
    display: inline;
}

.reservation_form .cus-name input ,  .cus-email input ,.cus-address input{
    padding: 11px;
    width:80%;
    border-radius: 10px;
    border: 1px dotted black;
    margin-bottom: 15px;
    box-shadow: rgba(55, 246, 21, 0.15) 1.95px 1.95px 2.6px;

}

.reservation_form .input-flield{
    margin-left: 20px;
}

.reservation_form .input-flield input{
    padding: 11px;
    width: 100%;
    border-radius: 10px;
    border: 1px dotted black;
    margin-bottom: 15px;
    box-shadow: rgba(55, 246, 21, 0.15) 1.95px 1.95px 2.6px;
}

.reservation_form .submit{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.reservation_form .submit button{
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    background-color: #2ecc71;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #fff;
    border: none;
}
.reservation_form .submit button:hover{
    background-color: #27ae60;
    cursor: pointer;
    font-weight: 600;
}



/* manage reservatins'''''''''''''''''''''''''''''''''''''''''' */

.res-searchbar-wrapper{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    
}

.res-mngreservation-searchbar{

    /*  */
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;  
    align-items: center;
    margin-bottom: 20px;
    column-gap: 17%;
    margin-top: 100px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(173, 173, 173);
    
}


.res-searchbar-wrapper .form-title-mngereservation{
    font-size: 30px;
    display:inline-block;
    position: relative;
    left: 40%;
    text-align: center;   
    height: auto;
    top: 90px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-style: italic;

    bottom: 4px;
}



.res-mngreservation-searchbar .items{
   margin-left: 20px;
   /* border: 1px solid black; */
   padding: 15px;
   font-size: 20px;
   border-radius: 10px;
   width: 200px;
   box-shadow: rgba(23, 225, 44, 0.15) 0px 6px 12px -2px, rgba(23, 225, 44, 0.15) 0px 3px 7px -3px;
   /* box-shadow: rgba(23, 225, 44, 0.15) 1.95px 1.95px 2.6px; */
}

.res-mngreservation-searchbar .items span{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    
}


.res-mngreservation-searchbar .btn button{
    font-size: 18px;
    width: 80px;
    font-family: 'Lato', sans-serif;
    padding: 8px;
    border-radius: 5px;
    border:none ;
    background-color: #2ecc71;
}

.res-mngreservation-searchbar.btn button:hover{
    background-color: #27ae60;
    cursor: pointer;
    font-weight: 600;
}

.res-mngreservation-searchbar input{
    padding: 5px;
    border-radius: 10px;
    border: 1px dotted black;   
}
.res-mngreservation-searchbar select{
    width: 80% ;
    padding: 5px;
    border-radius: 10px;
    border: 1px dotted black;   
}

.res-mngreservation-searchbar select option{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    background-color: rgb(218, 218, 217);
    padding: 10px;
}

.res-mngreservation-searchbar .date{
    width: 150px;
    padding: 8px;
}


/* reservation history'''''''''''''''''''''''''''''''''''' */

.recep-reservation-history-wrapper{
    position: relative;
    margin-top: 200px;
}

.recep-reservation-history-wrapper table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.form-title-reservation-history{
    font-size: 30px;

    position: relative;

    text-align: center;   
    height: 50px;
    top: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-style: italic;

}



.recep-reservation-history-wrapper th{
    padding: 15px;
    background-color: antiquewhite;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.recep-reservation-history-wrapper td{
    padding: 15px;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
}

.recep-reservation-history-wrapper td form{
    display: inline-block;

}

.recep-reservation-history-wrapper td  button{
    padding: 8px;
    width: 80px;
    border-radius: 20px;
    background-color: #2ecc71;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #fff;
    border: none;
}

.recep-reservation-history-wrapper td  button:hover{
    background-color: #27ae60;
    cursor: pointer;
    font-weight: 600;
}