<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='./receptionist-rooms.css'>
</head>
<body>
    <div class="sidebar">
        <div class="logo-section">
            <img src="your-logo.png" alt="Your Logo" width="100">
        </div>
        <a class="nav-link" href="#">Reservations</a>
        <a class="nav-link" href="#">Rooms</a>
        <a class="nav-link" href="#">Pending Payments</a>
        <div class="logout-button">
            <a href="#">Logout</a>
        </div>
    </div>

    <div class="dashboard">
        <div class="user-profile">
            <img src="profile-pic.jpg" alt="User Profile Picture">
            <div class="user-profile-info">
                <p>John Doe</p>
                <p>User</p>
            </div>
        </div>
        
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search...">
            <button>Search</button>
        </div>

        
        <div class="room-details">Room Details</div>
        
        <table class="table" id="roomDetailsTable">
            <tr>
                <th>Room No</th>
                <th>Room Type</th>
                <th>Floor No</th>
                <th>Availability</th>
                <th>Description</th>
            </tr>
            <!-- Add more rows-->
        </table>
    </div>
</body>
</html>

